* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    background: #282c34;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    position: relative;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: red;
    transition: 0.5s;
}

.navbar a:hover::before {
    width: 100%;
    background-color: orange;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    padding: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#delete {
    background-color: #ff3333;
    color: #fff;
}

#update {
    background-color: #4CAF50;
    color: #fff;
}